@page "/counter"
@using UI.Brokers.Logging
@inject ILoggingBroker log

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        //log.Trace($"Trace Current Count: {currentCount}");
        //log.Debug($"Debug Current Count: {currentCount}");
        //log.Information($"Current Count: {currentCount}");
        //log.Warning($"ERROR Current Count: {currentCount}");
        //log.Error(new Exception($"EXCEPTION MESSAGE {currentCount}"));
        currentCount++;
    }
}
